* {
    padding: 0;
    margin: 0;
}

body {
    height: 100dvh;
    background-color: #F8F9FA;
    margin: 0 auto;
}

:root {
    --background-color: #F4F6F4;
    --secondary-background-color: #1E4D3E;
    --primary-color: #14342B;
    --accent-color: #D97706;
    --secondary-accent-color: #3B7A57;
    --font-family: 'Arial', sans-serif;
    --text-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--primary-color);


    ul {
        display: flex;
        gap: 20px;
        font-size: x-large;

    }

    li {
        list-style: none;
        flex-direction: row;
        color: var(--accent-color);
    }

    a {
        text-decoration: none;
        color: var(--accent-color);
    }

    .login {
        font-size: x-large;
    }
}

.logo-img {
    width: 200px;
    border-radius: 30%;
}


.main-title {
    text-align: center;
    margin: 5px 0;
    color: var(--accent-color);
    font-size: x-large;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--text-color);

    h2 {
        text-align: center;
        margin: 10px;
        color: var(--secondary-accent-color);
    }

    .hero-intro {
        flex: 1;
        font-size: larger;
        text-align: center;
        padding: 20px;

    }

    .hero-image {

        flex: 1;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

.card {
    border: 2px solid black;
    margin: 2px;
    padding: 2px;
    border-radius: 15px;
    width: 350px;
    margin-bottom: 30px;
    text-align: center;
    font-size: large;
    background-color: var(--secondary-background-color);
    padding-bottom: 5px;


    h3 {
        color: var(--accent-color);
    }

    h4 {
        color: var(--secondary-accent-color);
    }

    p {
        color: var(--text-color);
    }

    box-shadow: 10px 10px 20px 5px rgba(8, 155, 113, 0.5);
    -webkit-box-shadow: 10px 10px 20px 5px rgba(8, 155, 113, 0.5);

    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 10px 10px 20px 5px rgba(4, 98, 71, 0.5);
        -webkit-box-shadow: 10px 10px 20px 5px rgba(4, 98, 71, 0.5);
    }
}

.tour-title {
    text-align: center;
    margin: 10px;
    color: var(--accent-color);
    font-size: x-large;
}

.container-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));



}

.card-img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;

}

.column-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    max-width: 1100px;
    /* <--- Limita el ancho máximo */
    margin: 40px auto;
    /* <--- Centra todo el bloque en la página */
    padding: 0 20px;
    column-rule: 3px solid var(--secondary-accent-color);
    color: var(--text-color);

    h3 {
        color: var(--accent-color);
    }

    .column {
        flex: 1;
        text-align: center;
        font-size: large;
        background-color: var(--primary-color);
        padding: 20px;

        hr {
            border: none;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            /* Línea divisoria suave */
            margin: 10px 0;
        }

    }

    .destacado {
        background-color: var(--secondary-background-color);
    }

    p {
        padding: 10px 0;
    }
}

span {
    font-weight: bolder;
}






footer {
    background-color: var(--primary-color);
    color: var(--background-color);


    img {
        width: 200px;

    }

    ul {

        a {
            color: white;
            text-decoration: none;
        }
    }

    li {
        margin: 5px 0;
    }
}