* {
    padding: 0;
    margin: 0;
}

body {

    background-color: var(--background-color);
    display: flex;
    flex-direction: column;

}

html {
    font-family: var(--font-family);
    scroll-behavior: smooth;
}


:root {
    --background-color: #F4F6F4;
    --secondary-background-color: #1E4D3E;
    --primary-color: #14342B;
    --accent-color: #D97706;
    --secondary-accent-color: #3B7A57;
    --font-family: 'Arial', sans-serif;
    --text-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--primary-color);


    ul {
        display: flex;
        gap: 20px;
        font-size: x-large;

    }

    li {
        list-style: none;
        flex-direction: row;
        color: var(--accent-color);
    }

    a {
        text-decoration: none;
        color: var(--accent-color);

        &:hover {
            color: var(--secondary-accent-color);
        }
    }

    .login {
        font-size: x-large;
    }
}

.logo-img {
    width: 200px;
    border-radius: 30%;
}


.main-title {
    text-align: center;
    margin: 5px 0;
    color: var(--accent-color);
    font-size: x-large;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--text-color);

    h2 {
        text-align: center;
        margin: 10px;
        color: var(--secondary-accent-color);
    }

    .hero-intro {
        flex: 1;
        font-size: larger;
        text-align: center;
        padding: 20px;

    }

    .hero-image {

        flex: 1;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}



.tour-title {
    text-align: center;
    margin: 10px;
    color: var(--accent-color);
    font-size: x-large;
}

.container-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;



    .card {
        border: 2px solid black;
        padding: 5px;
        border-radius: 15px;
        text-align: center;
        font-size: large;
        background-color: var(--secondary-background-color);
        padding-bottom: 5px;
        display: flex;
        flex-direction: column;


        h3 {
            color: var(--accent-color);
            margin: 10px;
        }

        h4 {
            color: var(--secondary-accent-color);
        }

        p {
            color: var(--text-color);
            margin: 15px;
        }

        box-shadow: 10px 10px 20px 5px rgba(8, 155, 113, 0.5);
        -webkit-box-shadow: 10px 10px 20px 5px rgba(8, 155, 113, 0.5);

        transition: box-shadow 0.3s ease-in-out;

        &:hover {
            box-shadow: 10px 10px 20px 5px rgba(4, 98, 71, 0.5);
            -webkit-box-shadow: 10px 10px 20px 5px rgba(4, 98, 71, 0.5);
        }
    }

    .card-img {
        width: 100%;
        object-fit: cover;
        border-radius: 15px;

    }




}



.column-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    max-width: 1200px;
    /* <--- Limita el ancho máximo */
    margin: 40px auto;
    /* <--- Centra todo el bloque en la página */
    padding: 0 20px;
    color: var(--text-color);


    h3 {
        color: var(--accent-color);
    }

    .column {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: large;
        background-color: var(--primary-color);
        padding: 20px;

        hr {
            border: none;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            /* Línea divisoria suave */
            margin: 10px 0;
        }

    }

    .destacado {
        background-color: var(--secondary-background-color);
    }

    p {
        padding: 10px 0;
    }


}

.card-button {

    color: var(--text-color);
    text-decoration: none;
    border: 2px solid black;
    padding: 3px 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 75px;
    background-color: var(--accent-color);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
    margin: auto auto 10px;


    &:hover {
        background-color: var(--secondary-accent-color);
    }


}

span {
    font-weight: bolder;
}

.contact-wraper {
    background-image: url('/assets/images/logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    border-radius: 20px;

    .contact-container {


        padding: 25px;
        border-radius: 20px;
        border: 2px solid rgba(255, 255, 255, 0.3);
        background-color: rgba(20, 52, 43, 0.35);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        .form-title {
            text-align: center;
            color: var(--accent-color);
            font-size: x-large;
        }


        .form-container {
            padding: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            margin: 0;



            input,
            select {
                border: 1px solid var(--secondary-accent-color);
                padding: 10px;
                border-radius: 5px;
                font-size: medium;


                &:focus {
                    outline: none;
                    border-color: var(--accent-color);

                }


            }

            label {
                color: #FFF3D6;
                text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9), 0 0 1px rgba(0, 0, 0, 0.9);
                font-weight: 900;
                font-size: large;

            }

            button {
                background-color: var(--accent-color);
                padding: 5px;
                font-size: larger;
                width: 200px;
                margin: 0 auto;


                &:hover {
                    cursor: pointer;
                    background-color: var(--secondary-accent-color);
                }
            }
        }


    }
}


footer {
    background-color: var(--primary-color);
    color: var(--background-color);


    img {
        width: 200px;

    }

    ul {

        a {
            color: white;
            text-decoration: none;
        }
    }

    li {
        margin: 5px 0;
    }
}